{% extends "base.html" %} {% block content %}
<h1>Edit Profile</h1>
<form 
  action="" 
  method="post" 
  novalidate
  {% if form.username.errors 
  or form.about_me.errors %}
  class="was-validated"
  {% endif %}>
  {{ form.hidden_tag() }}
  <div class="form-group">
    {{ form.username.label }}<br />
    {{ form.username(size=32, class="form-control", placeholder="Type your name") }}
    {% for error in form.username.errors %}
    <div class="invalid-feedback">{{ error }}</div> 
    {% endfor %}
  </div>
  <div class="form-group">
    {{ form.about_me.label }}<br />
    {{ form.about_me(cols=50, rows=4, class="form-control", placeholder="Introduce yourself") }}
    {% for error in form.about_me.errors %}
    <div class="invalid-feedback">{{ error }}</div> {% endfor %}
  </div>
  {{ form.submit(class="btn btn-primary") }}
</form>
{% endblock %}
